<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' />

        <!-- Using CSS: http://bootswatch.com -->
        <link rel='stylesheet' href='./stylesheets/darkly-bootstrap.min.css' />

    </head>
    <body>

        <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>

        <div class="container">

            <ul class="nav nav-pills">
                <li><a href="./server-info">Server info</a></li>
                <li><a href="./cfe-logs">CFEngine logs</a></li>
                <li><a href="./highprio-logs">High-severity logs</a></li>
            </ul>

